html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fcf8ed;
    background-image: url('./images/stock/parchment.jpeg')
}

.main-logo {
    background-color: #252B41;
    border-bottom: solid 10px #AEB353;
    display: flex;
    justify-content: center;
}

.logo {
    height: 350px;
    margin: 0px;
}

h1 {
    margin: 50px 0;
    border: solid 2px lightblue;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    /* border: solid 2px pink; */
}

li a {
    text-decoration: none;
    /* border: solid 2px blue; */
    color: #252B41;
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 50px 0;
}

.home-image {
    margin: 0 0 0 75px;
    padding: 0 20px 10px 0;
    float: left;
    width: 475px;
}

p {
    margin: 10px 75px;
    line-height: 1.4;
    font-size: 18px;
    text-align: justify;
    /* text-indent: 35px; */
}

.family-images {
    margin: 25px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid red 2px; */
}

.fam-photo {
    height: 225px;
}

.main-cabinet {
    display: block;
    margin: 15px auto;
    /* margin-left: auto;
    margin-right: auto; */
    width: 50%;
}

.cabinet {
    /* border: solid purple 2px; */
    display: flex;
    justify-content: center;
    margin: 30px 30px 50px 30px;
}

.cabinet-title {
    color: #AEB353;
    text-align: center;
}

.cabinet-info {
    background-color: #252B41;
    padding: 15px;
    color: white;
}

.cabinet-desc {
    color: white;
    margin: 15px;
}

.box-full {
    height: 525px;
    width: auto;
    /* border: solid green 2px; */
}

.cover-art {
    background-color: #252B41;
    padding: 15px;
    color: white;
    margin: 0 30px 15px 30px;
}

.replacements {
    /* border: solid blue 2px; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 15px;
    background-color: #252B41;
    max-height: 345px;
    max-width: 325px;
    min-height: 345px;
    min-width: 325px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: solid green 2px; */
}

.cards-on-click {
    max-width: 680px;
    min-width: 680px;
    max-height: 1000px;
    /* min-height: 650px; */
}

h3 {
    color: white;
    /* border: solid pink 2px; */
}

.img-div {
    /* border: solid blueviolet 2px; */
    background-color: #E7EBEE;
}

.single-img {
    max-height: 250px;
    max-width: 325px;
    min-height: 250px;
    min-width: 325px;
    flex-shrink: 1;
    align-self: center;
    /* border: solid red 2px; */
}

.more-info {
    font-size: 15px;
    text-align: right;
    color: #AEB353;
    margin: 5px 10px 5px 10px;
    visibility: visible;
    /* border: solid blue 2px; */
}

.desc {
    color: white;
    /* border: solid lightblue 2px; */
    margin: 15px;
}

.refl {
    color: white;
    font-style: italic;
    font-weight: bold;
    margin: 15px;
}

.warning {
    margin: 5%;
    color: #252B41;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* MODAL CSS */
button {
    background-color: #252B41;
    border: none;
    color: #AEB353;
    font-size: 15px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px 5px 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #AEB353;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #252B41;
    text-decoration: none;
    cursor: pointer;
  }

.hashtag {
    color: #AEB353;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif
}

#share-photos {
    margin: 10px 75px;
    line-height: 0;
    column-count: 3;
    column-gap: 4px;
}

#share-photos img {
    width: 100% !important;
    height: auto !important;
    margin: 2px
}

.music {
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

.music-card {
    /* border: solid blue 2px; */
    margin: 15px;
    /* background-color: white; */
    background-color: #252B41;
    max-height: 375px;
    max-width: 225px;
    min-height: 375px;
    min-width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    /* border: solid #252B41 3px; */
}

.intro {
    margin: 5%;
    color: #252B41;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 150px 0 150px;
    align-items: center;
}

.input-field {
    height: 36px;
    width: 60%;
    margin: 15px;
}

input::-webkit-input-placeholder,
input[type="text"],
input[type="email"] {
    font-size: 18px;
    line-height: 3;
    font-family: 'Montserrat', sans-serif;
    vertical-align: text-top;
}

.message-field {
    height: 150px;
}

footer {
    margin: 50px 0 0 0;
}

.footer {
    padding: 10px;
    border-top: solid #AEB353 5px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #252B41;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    /* border: solid blue 2px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-logo {
    margin: 0 5px 5px 5px;
    height: 25px;
}

/* i {
    margin: 5px;
} */

.email {
    text-decoration: none;
    color: white;
}